<a href="https://colab.research.google.com/github/athenaap/data_science_hw/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is "+name+". Your age is "+age)

What is your name? Afina
What is your age? 20
Your name is Afina. Your age is 20

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if(a==b):
  print("The numbers are equal")
else:
  print("The numbers are not equal")

The numbers are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

if(a>b):
  print("The first number is greater than the second number")
elif(a==b):
  print("The first number is equal to the second number")
else:
  print("The first number is less than the second number")

The first number is less than the second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
a=5
while(a>0):
  print(a)
  if(5==1):
    break
  else:
    a-=1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for num in range(10, -1, -2):
    if num != 8:
        print(num)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
from datetime import datetime
def age(year):
  return datetime.now().year-year
age(1944)

81

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
  def substraction(x,y):
    return x-y
  def multiplication(x,y):
    return x*y
  def division(x,y):
    return x/y
print(arithmetic.addition(3,4))
print(arithmetic.substraction(3,4))
print(arithmetic.multiplication(3,4))
print(arithmetic.division(3,4))

7
-1
12
0.75

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
def sum(n):
  res=0
  for i in range(1,n+1):
    res+=i
  return res
sum(3)

6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

#We can use random library to generate numbers randomly
import random
numbers = [random.random() for number in range(10)]
print(numbers[:3])

#Second method is to define the numbers ourselves
numbers = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
print(numbers[:3])

[0.5199047362927001, 0.8678046526143942, 0.4935640866367337]
[0.1, 0.2, 0.3]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1, n+1):
  if (i%3==0):
    print(i)

3
6
9
12
15